* {
    list-style: none;
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-decoration: none;
}
body{
    max-width:1400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icon{
    width: 30px;
    height: 36px;
}
header{
    display:flex;
    align-items: center;
    background-color: #fff;
    height:100px;
    padding:0 40px;
    position: relative;
    box-shadow: rgb(128,128,128,0.726)0px 1px 3px;
    z-index:100;
}
.logo-img{
    width: 50px;
    margin-right: 20px;
}
.nav{
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
}
.nav ul,
.nav div:nth-child(2),
.nav .location,
.nav .account{
    display: flex;
    align-items: center;
    height: 100px;
}
.nav ul a{
    height:100%;
}
.nav ul li{
    margin-left:20px;
    color:#000;
    font-weight:799;
    font-size:14px;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom:5px solid transparent;
    letter-spacing: 2px;
}
.nav .location img{
    padding-top:5px;
}
.nav div:nth-child(2) div{
    margin:0 10px;
}
.nav .store {
    color:black;
    font-weight:500;
    margin-right:30px;
}
.button1,
.button2{
    color:black;
    padding:5px 15px;
    border:1px solid black;
    border-radius:50px;
    font-weight: 500;
    font-size: 15px;
}
.button1:hover{
    background-color: rgb(120,120,120,0.192);
}
.button2:hover {
    background-color: #000;
}
.button2{
    color:#fff;
    background-color: #000;
}
.outer-nav{
    background-color: #32462f;
    width: 100%;
    height: 110px;
    align-content: center;
    padding-left: 450px;
    font-weight: 800;
    font-family: monospace;
}
.inner-text{
    color:white;
    align-items: center;
    font-weight: 1000px;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: -1px;
}
.text{
    font-size: 19px;
    letter-spacing: -1px;
}
.button{
    background-color: rgb(50, 70, 47);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 6px 11px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(0,117,74);
}